<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="passenger">
            <h2><span>Passenger</span> {{ passenger.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{ passenger.username }}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{ passenger.password }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ passenger.name }}</span>
                </dd>
                <dt><span>Surname</span></dt>
                <dd>
                    <span>{{ passenger.surname }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ passenger.email }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/passenger', passenger.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
