<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span>Invoice</span> {{ invoice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Invoice Number</span></dt>
                <dd>
                    <span>{{ invoice.invoiceNumber }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ invoice.amount }}</span>
                </dd>
                <dt><span>Passenger Id</span></dt>
                <dd>
                    <span>{{ invoice.passengerId }}</span>
                </dd>
                <dt><span>Booking Number</span></dt>
                <dd>
                    <span>{{ invoice.bookingNumber }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
