<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="luggage">
            <h2><span>Luggage</span> {{ luggage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ luggage.type }}</span>
                </dd>
                <dt><span>Luggage Number</span></dt>
                <dd>
                    <span>{{ luggage.luggageNumber }}</span>
                </dd>
                <dt><span>Flight Number</span></dt>
                <dd>
                    <span>{{ luggage.flightNumber }}</span>
                </dd>
                <dt><span>Booking Number</span></dt>
                <dd>
                    <span>{{ luggage.bookingNumber }}</span>
                </dd>
                <dt><span>Passenger Id</span></dt>
                <dd>
                    <span>{{ luggage.passengerId }}</span>
                </dd>
                <dt><span>Weight Category</span></dt>
                <dd>
                    <span>{{ luggage.weightCategory }}</span>
                </dd>
                <dt><span>Rfid Tag</span></dt>
                <dd>
                    <span>{{ luggage.rfidTag }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/luggage', luggage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
