<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span>Payment</span> {{ payment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Passenger Id</span></dt>
                <dd>
                    <span>{{ payment.passengerId }}</span>
                </dd>
                <dt><span>To Pay</span></dt>
                <dd>
                    <span>{{ payment.toPay }}</span>
                </dd>
                <dt><span>Booking Number</span></dt>
                <dd>
                    <span>{{ payment.bookingNumber }}</span>
                </dd>
                <dt><span>Credit Card</span></dt>
                <dd>
                    <div *ngIf="payment.creditCard">
                        <a [routerLink]="['/credit-card', payment.creditCard?.id, 'view']">{{ payment.creditCard?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
