<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flight">
            <h2><span>Flight</span> {{ flight.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Flight Number</span></dt>
                <dd>
                    <span>{{ flight.flightNumber }}</span>
                </dd>
                <dt><span>Flight Type</span></dt>
                <dd>
                    <span>{{ flight.flightType }}</span>
                </dd>
                <dt><span>Fare Type</span></dt>
                <dd>
                    <span>{{ flight.fareType }}</span>
                </dd>
                <dt><span>Pilot</span></dt>
                <dd>
                    <span>{{ flight.pilot }}</span>
                </dd>
                <dt><span>Plane Model Number</span></dt>
                <dd>
                    <span>{{ flight.planeModelNumber }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ flight.price }}</span>
                </dd>
                <dt><span>Departure Date</span></dt>
                <dd>
                    <span>{{ flight.departureDate }}</span>
                </dd>
                <dt><span>Boarding Gate</span></dt>
                <dd>
                    <span>{{ flight.boardingGate }}</span>
                </dd>
                <dt><span>Airline Name</span></dt>
                <dd>
                    <span>{{ flight.airlineName }}</span>
                </dd>
                <dt><span>Origin</span></dt>
                <dd>
                    <div *ngIf="flight.origin">
                        <a [routerLink]="['/airport', flight.origin?.id, 'view']">{{ flight.origin?.id }}</a>
                    </div>
                </dd>
                <dt><span>Destination</span></dt>
                <dd>
                    <div *ngIf="flight.destination">
                        <a [routerLink]="['/airport', flight.destination?.id, 'view']">{{ flight.destination?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight', flight.id, 'edit']"
                    class="btn btn-primary" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
