<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flightHandling">
            <h2><span>Flight Handling</span> {{ flightHandling.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Boarding Gate</span></dt>
                <dd>
                    <span>{{ flightHandling.boardingGate }}</span>
                </dd>
                <dt><span>Delay</span></dt>
                <dd>
                    <span>{{ flightHandling.delay }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight-handling', flightHandling.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
