<div>
    <h2 id="page-heading">
        <span>Planes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plane" [routerLink]="['/plane/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Plane
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="planes?.length === 0">
        <span>No planes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="planes && planes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Manufacturer</span></th>
                    <th scope="col" ><span>Model Number</span></th>
                    <th scope="col" ><span>Registration Number</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plane of planes ;trackBy: trackId">
                    <td><a [routerLink]="['/plane', plane.id, 'view']">{{ plane.id }}</a></td>
                    <td>{{ plane.manufacturer }}</td>
                    <td>{{ plane.modelNumber }}</td>
                    <td>{{ plane.registrationNumber }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/plane', plane.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/plane', plane.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(plane)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
