<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-flight-heading">Create or edit a Flight</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_flightNumber">Flight Number</label>
                    <input type="text" class="form-control" name="flightNumber" id="field_flightNumber"
                           formControlName="flightNumber"/>
                    <div *ngIf="editForm.get('flightNumber')!.invalid && (editForm.get('flightNumber')!.dirty || editForm.get('flightNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('flightNumber')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_flightType">Flight Type</label>
                    <select class="form-control" name="flightType" formControlName="flightType" id="field_flightType">
                        <option value="ONE_WAY">ONE_WAY</option>
                        <option value="RETURN_TRIP">RETURN_TRIP</option>
                    </select>
                    <div *ngIf="editForm.get('flightType')!.invalid && (editForm.get('flightType')!.dirty || editForm.get('flightType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('flightType')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fareType">Fare Type</label>
                    <select class="form-control" name="fareType" formControlName="fareType" id="field_fareType">
                        <option value="ECONOMY">ECONOMY</option>
                        <option value="BUSINESS">BUSINESS</option>
                    </select>
                    <div *ngIf="editForm.get('fareType')!.invalid && (editForm.get('fareType')!.dirty || editForm.get('fareType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fareType')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pilot">Pilot</label>
                    <input type="text" class="form-control" name="pilot" id="field_pilot"
                           formControlName="pilot"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('price')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_flightHandler">Boarding Gate</label>
                    <select class="form-control" id="field_flightHandler" name="flightHandler" formControlName="flightHandler">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="flightHandlingOption.boardingGate === editForm.get('flightHandler')!.value.boardingGate ? editForm.get('flightHandler')!.value : flightHandlingOption" *ngFor="let flightHandlingOption of flighthandlers; trackBy: trackById">{{ flightHandlingOption.boardingGate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_origin">Origin City</label>
                    <select class="form-control" id="field_origin" name="origin" formControlName="origin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="airportOption.cityName === editForm.get('origin')!.value?.cityName ? editForm.get('origin')!.value : airportOption" *ngFor="let airportOption of airports; trackBy: trackById">{{ airportOption.cityName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('origin')!.invalid && (editForm.get('origin')!.dirty || editForm.get('origin')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('origin')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_destination">Destination City</label>
                    <select class="form-control" id="field_destination" name="destination" formControlName="destination">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="airportOption.cityName === editForm.get('destination')!.value?.cityName ? editForm.get('destination')!.value : airportOption" *ngFor="let airportOption of airports; trackBy: trackById">{{ airportOption.cityName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('destination')!.invalid && (editForm.get('destination')!.dirty || editForm.get('destination')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('destination')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_airline">Airline</label>
                    <select class="form-control" id="field_airline" name="airline" formControlName="airline">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="airlineOption.airlineName === editForm.get('airline')!.value?.airlineName ? editForm.get('airline')!.value : airlineOption" *ngFor="let airlineOption of airlines; trackBy: trackById">{{ airlineOption.airlineName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('airline')!.invalid && (editForm.get('airline')!.dirty || editForm.get('airline')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('airline')?.errors?.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_plane">Plane</label>
                    <select class="form-control" id="field_plane" name="plane" formControlName="plane">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planeOption.modelNumber === editForm.get('plane')!.value?.modelNumber ? editForm.get('plane')!.value : planeOption" *ngFor="let planeOption of planes; trackBy: trackById">{{ planeOption.modelNumber }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('plane')!.invalid && (editForm.get('plane')!.dirty || editForm.get('plane')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('plane')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
